*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.734);
}

.clock_container{
    height: 30vh;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.84);
    transform: translate(75%, 80%);
    text-align: center;
    color: black;
    font-family: 'Playwrite NG Modern';
    font-weight: 400;
    font-size: 4vw;
    padding-top: 3.5vw;
    border: none;
    
}


#focus{
    color: white;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 15vw;
    font-size: 1.2vw;
    font-weight: 300;

}
