*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgba(20, 20, 71, 0.751);
}

.clock_container{
    height: 30vh;
    width: 40vw;
    background-color: rgba(20, 20, 71, 0.751);
    transform: translate(75%, 80%);
    text-align: center;
    color: white;
    /* font-family: 'Orbitron'; */
    font-family: 'Playwrite NG Modern';
    font-weight: 400;
    font-size: 5vw;
    padding-top: 2.5vw;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 40px rgba(232, 232, 224, 0.768);
    
}


#focus{
    color: white;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 20vw;
    font-size: 1.4vw;

}
